<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:top">
              <h1>
                Hongbo Wen
              </h1>
              <p>
                I am a PhD student at the <a href="https://www.cs.ucsb.edu/">School of Computer Science</a>,
                <a href="https://www.ucsb.edu/">UC Santa Barbara</a>.
                My PhD advisor is <a href="https://fredfeng.github.io/">Yu Feng</a>.
                I am also glad to be guided by <a href="https://sites.cs.ucsb.edu/~yanju/">Yanju Chen</a> at UC Santa Barbara.
              </p>
              <p>
                Before attending UCSB, I received my undergraduate degree from <a href="https://www.tsinghua.edu.cn/en/">Tsinghua University</a>
                and had a two-year industry experience at <a href="https://en.megvii.com/">Megvii</a>
                and <a href="https://veridise.com/">Veridise</a>, focusing on using academic techniques to solve real world problems.
              </p>

              <h2 style="text-align: left;">Research Interests</h2>
              <p>
                I am focusing on helping complex software systems,
                such as blockchain, zero-knowledge proofs, and operating systems,
                become more reliable and stable. I am also interested in combing logical
                reasoning and nerual reasoning and apply those methods in practice.
                Here are some keywords about my research:
              </p>
              <p>
                <ul>
                  <li>Programming Languages</li>
                  <li>Program Analysis</li>
                  <li>Program Synthesis</li>
                  <li>Blockchain</li>
                  <li>Zero-Knowledge Proof</li>
                </ul>
              </p>
            </td>
            <td style="padding:5%;width:30%;max-width:30%;vertical-align:top">
              <img style="width:100%;max-width:100%" alt="profile photo" src="../images/avatar.jpg">
              <p>
                <a href="mailto:hongbowen@ucsb.edu">hongbowen@ucsb.edu</a><br>
                <a href="https://github.com/whbjzzwjxq">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=T3_w464AAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="/pdfs/Hongbo_Wen_CV.pdf">CV</a>
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:1%;width:100%;vertical-align:middle">
              <h2 style="text-align: left;" id="sec-publications">Publications</h2>
              <br>
              (* Equal Contribution)
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'publication' %}
          <tr>
            <td style="padding:1%;width:75%;vertical-align:middle">
              <div style="font-weight: bolder;">{{post.venue}}</div>
              <a href="{{post.website}}">{{post.title}}</a>
              <br>
              <em>{{post.authors}}</em>
              <br>
              {% if post.pdf %}
              <a href="{{post.pdf}}">pdf</a> /
              {% endif %}
              {% if post.bib %}
              <a href="{{post.bib}}">bib</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
            <td style="padding:1%;width:25%;vertical-align:middle;min-width:120px">
              {% if post.image %}
              <img src="{{post.image}}" alt="project image" style="width: auto; max-height:100px; max-width:auto;" />
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:1%;width:100%;vertical-align:middle">
              <h2 style="text-align: left;" id="sec-engagements">Industry/Academia Engagements</h2>
              <br>
              (Engagements beyond pure research publications)
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'engagement' %}
          <tr>
            <td style="padding:1%;width:75%;vertical-align:middle">
              <div> 
                <b>From</b>
                {{ post.startdate | date: "%Y - %m" }}
                <b>to</b>
                {% if post.enddate %}
                {{ post.enddate | date: "%Y - %m" }}
                {% else %}
                Now
                {% endif %}
              </div>
              {{post.title}}
              <br>
              <em>{{post.subtype}}</em>
              <p>{{post.description}}</p>
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
            </td>
            <td style="padding:1%;width:25%;vertical-align:middle;min-width:120px">
              {% if post.image %}
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:1%;width:100%;vertical-align:middle">
              <h2 style="text-align: left;" id="sec-awards">Honors and Awards</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'award' %}
          <tr>
            <td style="padding:1%;width:75%;vertical-align:middle">
              <div>{{ post.date | date: "%Y - %m" }}</div>
              {% if post.website %}
              <a href="{{post.website}}">{{post.title}}</a>
              {% else %}
              {{post.title}}
              {% endif %}
              <br>
            </td>
            <td style="padding:1%;width:25%;vertical-align:middle;min-width:120px">
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

